//- 布局文件
//- 放置共用的区块，将样式抽成公共的区块
doctype
html
	meta(charset='utf-8')
	title #{title}
	//- 应用公共的样式模块
	include ./includes/head
	body
		//- 网站的标题，header的区域
		include ./includes/header
		//- 页面的主要内容，放置在content中
		block content
		h1 #{title}