doctype html
html
	head 
		include header
		style.
			body {
				color: #f00;
				background: #f0f0f0;
			}
			.box1 {
				border-top: 1px solid #000;
			}
		script.
			var jadeVar = 'jade';
			document.getElementById('id');

	body
		block content